-- V12__expand_role_based_capabilities.sql
-- Define complete role-based capabilities for all existing NSS modules

-- Insert expanded capabilities

-- Map capabilities to ADMIN (all permissions)
INSERT INTO role_permissions (role_id, permission_id)
SELECT r.role_id, p.permission_id
FROM roles r
CROSS JOIN permissions p
WHERE r.name IN ('ADMIN', 'ROLE_ADMIN')
ON CONFLICT DO NOTHING;

-- Map capabilities to FACULTY_COORDINATOR
INSERT INTO role_permissions (role_id, permission_id)
SELECT r.role_id, p.permission_id
FROM roles r
CROSS JOIN permissions p
WHERE r.name IN ('FACULTY_COORDINATOR', 'ROLE_FACULTY_COORDINATOR')
AND p.name IN (
    'USERS_VIEW',
    'UNITS_VIEW', 'UNITS_MANAGE',
    'VOLUNTEERS_VIEW', 'VOLUNTEERS_MANAGE',
    'EVENTS_VIEW', 'EVENTS_MANAGE', 'EVENTS_REGISTER',
    'ATTENDANCE_VIEW', 'ATTENDANCE_MANAGE',
    'SERVICE_HOURS_VIEW', 'SERVICE_HOURS_MANAGE', 'SERVICE_HOURS_LOG',
    'ANNOUNCEMENTS_VIEW', 'ANNOUNCEMENTS_MANAGE',
    'REPORTS_VIEW', 'REPORTS_EXPORT'
)
ON CONFLICT DO NOTHING;

-- Map capabilities to PROGRAMME_OFFICER
INSERT INTO role_permissions (role_id, permission_id)
SELECT r.role_id, p.permission_id
FROM roles r
CROSS JOIN permissions p
WHERE r.name IN ('PROGRAMME_OFFICER', 'ROLE_PROGRAMME_OFFICER')
AND p.name IN (
    'UNITS_VIEW', 'UNITS_MANAGE',
    'VOLUNTEERS_VIEW', 'VOLUNTEERS_MANAGE',
    'EVENTS_VIEW', 'EVENTS_MANAGE', 'EVENTS_REGISTER',
    'ATTENDANCE_VIEW', 'ATTENDANCE_MANAGE',
    'SERVICE_HOURS_VIEW', 'SERVICE_HOURS_MANAGE', 'SERVICE_HOURS_LOG',
    'ANNOUNCEMENTS_VIEW', 'ANNOUNCEMENTS_MANAGE',
    'REPORTS_VIEW', 'REPORTS_EXPORT'
)
ON CONFLICT DO NOTHING;

-- Map capabilities to STUDENT_LEADER
INSERT INTO role_permissions (role_id, permission_id)
SELECT r.role_id, p.permission_id
FROM roles r
CROSS JOIN permissions p
WHERE r.name IN ('STUDENT_LEADER', 'ROLE_STUDENT_LEADER')
AND p.name IN (
    'UNITS_VIEW',
    'VOLUNTEERS_VIEW',
    'EVENTS_VIEW', 'EVENTS_REGISTER',
    'ATTENDANCE_VIEW', 'ATTENDANCE_MANAGE', 'ATTENDANCE_CHECKIN',
    'SERVICE_HOURS_VIEW', 'SERVICE_HOURS_LOG',
    'ANNOUNCEMENTS_VIEW',
    'REPORTS_VIEW'
)
ON CONFLICT DO NOTHING;

-- Map capabilities to VOLUNTEER
INSERT INTO role_permissions (role_id, permission_id)
SELECT r.role_id, p.permission_id
FROM roles r
CROSS JOIN permissions p
WHERE r.name IN ('VOLUNTEER', 'ROLE_VOLUNTEER')
AND p.name IN (
    'UNITS_VIEW',
    'VOLUNTEERS_VIEW',
    'EVENTS_VIEW', 'EVENTS_REGISTER',
    'ATTENDANCE_VIEW', 'ATTENDANCE_CHECKIN',
    'SERVICE_HOURS_VIEW',
    'ANNOUNCEMENTS_VIEW',
    'REPORTS_VIEW'
)
ON CONFLICT DO NOTHING;
